
<!--Setting all content for pages with sorting-->
<div id="wrapper">

    <!--LEFT-->

    <!-------main container-------->
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                    <div class="row">

                        <!--Trainer-list-page right()sorting menu menu-->

                        <!--end of right(sorting menu) on trainer list page-->

                        <!--Main content for trainer-list page-->
                        <div class="right-menu">

                            <!--Block for  content of trainer-list page-->
                            <div>

                                <!--Main content of trainer-list page-->

                                <div class="trainer-list-page">

                                    <!--Heading of trainer-list page-->
                                    <h1 class="top-trainers-list">
                                        Trainers
                                    </h1>
                                    <!--end heading of trainer-list page-->

                                    <hr class="trainer-list">

                                    <!--Pagination on trainer-list page-->
                                    <div class="pag">

                                        <!--Left-side of pagination on trainer-list page-->
                                        <div class="pull-left">
                                            {{N}} trainers found
                                            <a href="#" class="vline ">Show All</a>
                                        </div>
                                        <!--end  pagination left-side-->

                                        <!--Right side of pagination block and exactly pagiation-->
                                        <ul class="pull-right trainer-list-pagination">
                                            <li class="pagination">
                                                <a href="#" aria-label="Previous" class="trainer-list">
                                                    <span aria-hidden="true">Previous</span>
                                                </a>
                                            </li>
                                            <li class="pagination"><a href="#" class="trainer-list">1</a></li>
                                            <li class="pagination"><a href="#" class="trainer-list">2</a></li>
                                            <li class="pagination"><a href="#" class="trainer-list">3</a></li>
                                            <li class="pagination"><a href="#" class="trainer-list">4</a></li>
                                            <li class="pagination"><a href="#" class="trainer-list">5</a></li>
                                            <li class="pagination">
                                                <a href="#" aria-label="Next" class="trainer-list">
                                                    <span aria-hidden="true">Next</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <!--end right side of pagination-->
                                    </div>
                                    <!--end pagination on trainer-list page-->

                                    <!--Container for trainer-blocks on trainer-list page-->
                                    <div class="container-fluid ">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 trainer-body">

                                                <!--Describing trainer-block on trainer-list page-->
                                                <div class="trainer-list-block">
                                                    <!--Setting image and external or not for trainer-block-->
                                                    <span>
                                                       <div class="pos-rel">
                                                           <a href="#" class="trainer-list">
                                                               <img src="../../../img/image_test.png" alt="..." class="trainer-list-photo pos-rel">
                                                               <p class="exter hidden">External</p>
                                                           </a>
                                                       </div>
                                                    </span>
                                                    <!--ending for image-block-->

                                                    <div class="trainer-info-block">
                                                        <!--Trainer-name styles-->
                                                        <p class="p1">
                                                            <a href="#" class="trainer-list"> Alina Mohulevska</a>
                                                        </p>
                                                        <!--end trainer-name-->

                                                        <!--Block for rating trainer (stars)-->
                                                        <span class="star-rating trainer-list-star">
                                                            <input type="radio" name="rating-trainer" value="1"><i></i>
                                                            <input type="radio" name="rating-trainer" value="2"><i></i>
                                                            <input type="radio" name="rating-trainer" value="3"><i></i>
                                                            <input type="radio" name="rating-trainer" value="4"><i></i>
                                                            <input type="radio" name="rating-trainer" value="5"><i></i>
                                                        </span>
                                                        <!--end rate-block-->

                                                        <!--Information about trainer-->
                                                        <p class="p2"><strong>Position:</strong> HR-Specialist</p>
                                                        <p class="p2"><strong>Department:</strong> Functional team</p>
                                                        <p class="p2"><strong>Location:</strong> Rivne Old</p>
                                                        <!--end information about trainer-->
                                                    </div>
                                                </div>
                                            </div>
                                            <!--end one block for trainer on trainer-list page-->

                                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 trainer-body">
                                                <div class="trainer-list-block">
                                                    <span>
                                                        <div class="pos-rel">
                                                               <a href="#" class="trainer-list">
                                                                   <img src="../../../img/image_test.png" alt="..." class="trainer-list-photo pos-rel">
                                                                   <p class="exter">External</p>
                                                               </a>
                                                        </div>
                                                    </span>

                                                    <div class="trainer-info-block">
                                                        <p class="p1">
                                                            <a href="#" class="trainer-list"> Alina Mohulevska</a>
                                                        </p>
                                                        <div>
                                                            <span class="star-rating trainer-list-star">
                                                                <input type="radio" name="rating-trainer" value="1"><i></i>
                                                                <input type="radio" name="rating-trainer" value="2"><i></i>
                                                                <input type="radio" name="rating-trainer" value="3"><i></i>
                                                                <input type="radio" name="rating-trainer" value="4"><i></i>
                                                                <input type="radio" name="rating-trainer" value="5"><i></i>
                                                            </span>
                                                        </div>
                                                        <p class="p2"><strong>Position:</strong> HR-Specialist</p>
                                                        <p class="p2"><strong>Department:</strong> Functional team</p>
                                                        <p class="p2"><strong>Location:</strong> Rivne Old</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 trainer-body">
                                                <div class="trainer-list-block">
                                                   <span>
                                                       <div class="pos-rel">
                                                           <a href="#" class="trainer-list">
                                                               <img src="../../../img/image_test.png" alt="..." class="trainer-list-photo pos-rel">
                                                               <p class="exter">External</p>
                                                           </a>
                                                       </div>
                                                   </span>

                                                    <div class="trainer-info-block">
                                                        <p class="p1">
                                                            <a href="#" class="trainer-list"> Alina Mohulevska</a>
                                                        </p>

                                                        <div>
                                                            <span class="star-rating trainer-list-star">
                                                                <input type="radio" name="rating-trainer" value="1"><i></i>
                                                                <input type="radio" name="rating-trainer" value="2"><i></i>
                                                                <input type="radio" name="rating-trainer" value="3"><i></i>
                                                                <input type="radio" name="rating-trainer" value="4"><i></i>
                                                                <input type="radio" name="rating-trainer" value="5"><i></i>
                                                            </span>
                                                        </div>

                                                        <p class="p2"><strong>Position:</strong> HR-Specialist</p>
                                                        <p class="p2"><strong>Department:</strong> Functional team</p>
                                                        <p class="p2"><strong>Location:</strong> Rivne Old</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 trainer-body">
                                                <div class="trainer-list-block">
                                                   <span>
                                                       <div class="pos-rel">
                                                           <a href="#" class="trainer-list">
                                                               <img src="../../../img/image_test.png" alt="..." class="trainer-list-photo pos-rel">
                                                               <p class="exter">External</p>
                                                           </a>
                                                       </div>
                                                   </span>

                                                    <div class="trainer-info-block">
                                                        <p class="p1">
                                                            <a href="#" class="trainer-list">Alina Mohulevska</a>
                                                        </p>

                                                        <div>
                                                            <span class="star-rating trainer-list-star">
                                                                <input type="radio" name="rating-trainer" value="1"><i></i>
                                                                <input type="radio" name="rating-trainer" value="2"><i></i>
                                                                <input type="radio" name="rating-trainer" value="3"><i></i>
                                                                <input type="radio" name="rating-trainer" value="4"><i></i>
                                                                <input type="radio" name="rating-trainer" value="5"><i></i>
                                                            </span>
                                                        </div>

                                                        <p class="p2"><strong>Position:</strong>HR-Specialist</p>
                                                        <p class="p2"><strong>Department:</strong>Functional team</p>
                                                        <p class="p2"><strong>Location:</strong>Rivne Old</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 trainer-body">
                                                <div class="trainer-list-block">
                                                   <span>
                                                       <div class="pos-rel">
                                                           <a href="#" class="trainer-list">
                                                               <img src="../../../img/image_test.png" alt="..." class="trainer-list-photo pos-rel">
                                                               <p class="exter">External</p>
                                                           </a>
                                                       </div>
                                                   </span>

                                                    <div class="trainer-info-block">
                                                        <p class="p1">
                                                            <a href="#" class="trainer-list"> Alina Mohulevska</a>
                                                        </p>

                                                        <div>
                                                            <span class="star-rating trainer-list-star">
                                                                <input type="radio" name="rating-trainer" value="1"><i></i>
                                                                <input type="radio" name="rating-trainer" value="2"><i></i>
                                                                <input type="radio" name="rating-trainer" value="3"><i></i>
                                                                <input type="radio" name="rating-trainer" value="4"><i></i>
                                                                <input type="radio" name="rating-trainer" value="5"><i></i>
                                                            </span>
                                                        </div>

                                                        <p class="p2"><strong>Position:</strong> HR-Specialist</p>
                                                        <p class="p2"><strong>Department:</strong> Functional team</p>
                                                        <p class="p2"><strong>Location:</strong> Rivne Old</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 trainer-body">
                                                <div class="trainer-list-block">
                                                   <span>
                                                       <div class="pos-rel">
                                                           <a href="#" class="trainer-list">
                                                               <img src="../../../img/image_test.png" alt="..." class="trainer-list-photo pos-rel">
                                                               <p class="exter">External</p>
                                                           </a>
                                                       </div>
                                                   </span>

                                                    <div class="trainer-info-block">
                                                        <p class="p1">
                                                            <a href="#" class="trainer-list"> Alina Mohulevska</a>
                                                        </p>

                                                        <div>
                                                            <span class="star-rating trainer-list-star">
                                                                <input type="radio" name="rating-trainer" value="1"><i></i>
                                                                <input type="radio" name="rating-trainer" value="2"><i></i>
                                                                <input type="radio" name="rating-trainer" value="3"><i></i>
                                                                <input type="radio" name="rating-trainer" value="4"><i></i>
                                                                <input type="radio" name="rating-trainer" value="5"><i></i>
                                                            </span>
                                                        </div>

                                                        <p class="p2"><strong>Position:</strong> HR-Specialist</p>
                                                        <p class="p2"><strong>Department:</strong> Functional team</p>
                                                        <p class="p2"><strong>Location:</strong> Rivne Old</p>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 trainer-body">
                                                <div class="trainer-list-block">
                                                   <span>
                                                       <div class="pos-rel">
                                                           <a href="#" class="trainer-list">
                                                               <img src="../../../img/image_test.png" alt="..." class="trainer-list-photo pos-rel">
                                                               <p class="exter">External</p>
                                                           </a>
                                                       </div>
                                                   </span>

                                                    <div class="trainer-info-block">
                                                        <p class="p1">
                                                            <a href="#" class="trainer-list">Alina Mohulevska</a>
                                                        </p>

                                                        <div>
                                                            <span class="star-rating trainer-list-star">
                                                                <input type="radio" name="rating-trainer" value="1"><i></i>
                                                                <input type="radio" name="rating-trainer" value="2"><i></i>
                                                                <input type="radio" name="rating-trainer" value="3"><i></i>
                                                                <input type="radio" name="rating-trainer" value="4"><i></i>
                                                                <input type="radio" name="rating-trainer" value="5"><i></i>
                                                            </span>
                                                        </div>

                                                        <p class="p2"><strong>Position:</strong>HR-Specialist</p>
                                                        <p class="p2"><strong>Department:</strong>Functional team</p>
                                                        <p class="p2"><strong>Location:</strong>Rivne Old</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end container for trainer-list trainers-blocks->

                                <!--Pagination at the botton of trainer-list page-->
                                    <div class="pag-bottom">
                                        <!--Left side of bottom-pagination-->
                                        <div class="pull-left">
                                            {{N}} trainers found
                                            <a href="#" class="vline">Show All</a>
                                        </div>
                                        <!--end left side of botton-pagination-->

                                        <!--Right side of botttom- pagination-->
                                        <ul class="pull-right">
                                            <li class="pagination">
                                                <a href="#" aria-label="Previous" class="trainer-list">
                                                    <span aria-hidden="true">Previous</span>
                                                </a>
                                            </li>
                                            <li class="pagination"><a href="#" class="trainer-list">1</a></li>
                                            <li class="pagination"><a href="#" class="trainer-list">2</a></li>
                                            <li class="pagination"><a href="#" class="trainer-list">3</a></li>
                                            <li class="pagination"><a href="#" class="trainer-list">4</a></li>
                                            <li class="pagination"><a href="#" class="trainer-list">5</a></li>
                                            <li class="pagination">
                                                <a href="#" aria-label="Next" class="trainer-list">
                                                    <span aria-hidden="true">Next</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <!--end Right side of bottom pagination-->

                                    </div>
                                    <!--end pagination at the botton of trainer-list page-->

                                </div>
                                <!--end content of trainer-list page-->
                            </div>
                            <!--end block for content of trainer-list page-->

                        </div>
                        <!--end main content for trainer-list page-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--end for all content for sorting -->


